<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
<head>
</head>

<body class="Body">

<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block" >
  <div class='menuHeader'>
    <h3 class='menuName'> &nbsp;&nbsp;&nbsp;Online Courses</h3>
  </div>
  <div>
    <br>
    <h4> &nbsp;&nbsp;Welcome Back </h4>
    <div style="height: 20%;">
      <a (click)="Hompage()" class="w3-bar-item w3-button" style="height: 15%">
        <i class="fa fa-home" aria-hidden="true"></i>&nbsp;
        Hompage</a></div>
    <div style="height: 20%;">
      <a (click)="ViewProfile()" class="w3-bar-item w3-button" style="height: 15%">
        <i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;
        View Profile</a></div>
    <div style="height: 20%;">
      <a (click)="explore()" class="w3-bar-item w3-button" style="height: 15%">
        <i class="fa fa-search" aria-hidden="true"></i>&nbsp;
        Explore Courses</a></div>
  </div>
</div>

<!-- Page Content -->
<div class='pagecontent' style="background-color:aliceblue; ">

  <div class="w3-container w3-teal">
    <div class="row mainheader">
      <div class="col-md-6">
        <p  class= 'headerName'>Bigdata Course</p>
      </div>
      <div class="col-md-6">
        <a (click)="SignOut()"  style="position: relative;left: 75%;top:14px;color: white" class="btn btn-primary btn-lg">
              <span class="fa fa-sign-out"
              ></span> Log Out
        </a>
      </div>
    </div>
  </div>
  <br>
  <div class="grid-container">

    <div class="grid-container">

      <h2><strong> Overview </strong> </h2>
      <br><br><br><br><br><br><br>

      <p> Earn your Master’s, learn from pioneering Illinois faculty, and gain the data science skills that are transforming business and society.
        Illinois Computer Science offers a specialized track that includes both MCS degree requirements and data science-focused coursework.
        This degree is right for anyone who not only wants to learn to extract knowledge and insights from massive data sets, but also wants full command of the computational infrastructure to do so.
        The Master of Computer Science in Data Science (MCS-DS) leads the MCS degree through a focus on core competencies
        in machine learning, data mining, data visualization, and cloud computing, It also includes interdisciplinary data science
        courses, offered in cooperation with the Department of Statistics and the School of Information Science..</p>

      <h2> <strong> Hands-on Project </strong> </h2>
      <br><br><br><br><br><br><br>

      <p> Every Specialization includes a hands-on project. You'll need to successfully finish the project(s)
        to complete the Specialization and earn your certificate. If the Specialization includes a separate course for the
        hands-on project, you'll need to finish each of the other courses before you can start it.</p>

      <h2> <strong>Earn a Certificate </strong></h2>
      <br><br><br><br><br><br><br>

      <p>When you finish every course and complete the hands-on project, you'll earn a Certificate that you can share with
        prospective employers and your professional network.</p>

      <div class="col-md-4">
        <button class="btn btn-outline-info btn-group-sm" (click)="enroll_bigdata()" style="font-size:24px; position: relative; top: 4% ">Enroll</button></div>
    </div>
  </div>
</div>
</body>

</html>


